/* Basic Styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: var(--text-dark-color);
    z-index: 1;
}

body {
    background-color: var(--back-primary-color);
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, 
*:before, 
*:after {
    box-sizing: inherit;
  }

* li {
    list-style: none;
}

:root {
    --text-dark-color: #252623;
    --brand-primary-color: #DECC00;
    --back-primary-color: #EDEDE6;
    --br: 0.5em;
}

/* Navigation Styles */
nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 1rem 0;
    min-width: 300px;
}

nav li {
    margin: 0 1.375rem;
    padding: 0.25rem;
    height: 2rem;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    letter-spacing: 2px;
    position: relative;
    padding: 0 5px;
    transition: text-shadow .3s;
}

nav a:after {
    content: "";
    position: absolute;
    background-color: var(--brand-primary-color);
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: .3s;
}

nav a:hover {
    text-shadow: 0 0 1px #333, 0 0 1px #333, 0 0 1px #333;
}

nav a:hover:after {
    width: 100%;
}

/* Intro Styles */

#intro {
    max-width: 1000px;
    margin: 0 auto;
}

.headline h1 {
    font-family: 'Old Standard TT', sans-serif;
    font-size: 20vmin;
    text-transform: uppercase;
    justify-content: center;
    display: flex;
    -webkit-transform:translateY(0);
	-ms-transform:translateY(0);
	transform:translateY(0);
	-webkit-animation:jumping 12s ease-in-out infinite;
	animation:jumping 12s ease-in-out infinite;
}

@-webkit-keyframes jumping {
	0%,
	to {
		-webkit-transform:translateY(0);
		transform:translateY(0);
	}

	50% {
		-webkit-transform:translateY(-10px);
		transform:translateY(-30px);
	}
}

@keyframes jumping {
	0%,
	to {
		-webkit-transform:translateY(0);
		transform:translateY(0);
	}

	50% {
		-webkit-transform:translateY(-10px);
		transform:translateY(-30px);
	}
}

.banner {
    display: flex;
    background-color: var(--brand-primary-color);
    height: 0.5rem;
    width: 4rem;
    margin: 2rem 0 -2rem 2rem;
    
}

.headline span > * {
    color: var(--brand-primary-color);
    font-family: 'Old Standard TT', serif;
}

.first-headline {
   margin: 5rem 0 0 0;
}

.second-headline {
    margin: -1rem 0 0 0;
}

p {
    margin: 2rem 2rem 0 2rem;
    line-height: 1.4;
    max-width: 40rem;
}

strong {
    font-weight: 500;
    text-decoration: underline;
}

/* Color Styles */
#color {
    max-width: 1000px;
    margin: 7rem auto 0 auto;
}

.title {
    box-sizing: inherit;
    color: var(--text-dark-color);
    display: block;
    font-family: 'Old Standard TT', serif;
    font-size: 3rem;
    margin: 3rem 0 0 1.7rem;
}

.monochrome {
    box-sizing: inherit;
    color: var(--text-dark-color);
    display: block;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
    margin: 3rem 0 0 1.7rem;
}

/* Monochrome Color */
.game {
    position: relative;
    width: 12.5em;
}

.front-one {
    background-color: #3a606e;
    height: 9em;
    width: 8em;
    border-radius: var(--br);
    z-index: 3;
    margin-left: 2.25rem;
    transition: 250ms;
}

.back {
    opacity: 0;
    position: absolute;
    margin-left: 2rem;
    bottom: 1rem;
    background-color: none;
    transition: 250ms cubic-bezier(.21, 1, .81, 1), opacity 100ms linear;
}

.color-stat p {
    background-color:lightgray;
    text-align: center;
}

.background {
    background-color: lightgrey;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(.2, 1);
    opacity: 0;
    z-index: -1;
    transition: 250ms cubic-bezier(.21, 1, .81, 1), opacity 100ms linear;
    border-radius: var(--br);
}

.game:hover .front-one{
    transform: translateY(-35%) scale(.8);
}

.game:hover .back{
    opacity: 1;
    transform: scale(1.4);
    }

.game:hover .background{
    transform: scale(.8, 1.3);
    opacity: 1;
    }

.front-two {
    background-color: #607B7D;
    height: 9em;
    width: 8em;
    border-radius: var(--br);
    z-index: 3;
    margin-left: 2.25rem;
    transition: 250ms;
}

.game:hover .front-two{
    transform: translateY(-35%) scale(.8);
}

.front-three {
    background-color: #828E82;
    height: 9em;
    width: 8em;
    border-radius: var(--br);
    z-index: 3;
    margin-left: 2.25rem;
    transition: 250ms;
}

.game:hover .front-three{
    transform: translateY(-35%) scale(.8);
}

.front-four {
    background-color: #AAAE8E;
    height: 9em;
    width: 8em;
    border-radius: var(--br);
    z-index: 3;
    margin-left: 2.25rem;
    transition: 250ms;
}

.game:hover .front-four{
    transform: translateY(-35%) scale(.8);
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.list > * {
    margin: 4rem -2rem 0 0;
}