/* Fonts */
@font-face {
    font-family: 'Abygaer';
    src: url(Fonts/Abygaer\ Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Area';
    src: url(Fonts/AreaTrial-Hairline.otf);
    font-weight: 200;
}

@font-face {
    font-family: 'Area';
    src: url(Fonts/AreaTrial-Regular.otf);
    font-weight: 400;
}

@font-face {
    font-family: 'Area';
    src: url(Fonts/AreaTrial-Semibold.otf);
    font-weight: 600;
}

@font-face {
    font-family: 'Dosis';
    src: url(Fonts/Dosis-VariableFont_wght.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'Lora';
    src: url(Fonts/Lora-VariableFont_wght.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Raleway';
    src: url(Fonts/Raleway-VariableFont_wght.ttf);
    font-weight: 200;
}

@font-face {
    font-family: 'Open Sans';
    src: url(Fonts/OpenSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Old Standard TT';
    src: url(Fonts/OldStandardTT-Italic.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Rubik';
    src: url(Fonts/Rubik-VariableFont_wght.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Goudy Bookletter 1911';
    src: url(Fonts/GoudyBookletter1911-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Average Sans';
    src: url(Fonts/AverageSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Chivo';
    src: url(Fonts/Chivo-Light.ttf);
    font-weight: 200;
}

@font-face {
    font-family: 'Monda';
    src: url(Fonts/Monda-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Work Sans';
    src: url(Fonts/WorkSans-VariableFont_wght.ttf);
    font-weight: 200;
}

@font-face {
    font-family: 'Playfair Display';
    src: url(Fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url(Fonts/SourceSansPro-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Permanent Marker';
    src: url(Fonts/PermanentMarker-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Overpass';
    src: url(Fonts/Overpass-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Roses Bolero';
    src: url(Fonts/Roses\ Bolero\ Demo\ Free.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Gyahegi';
    src: url(Fonts/GyahegiPersonalUse-w1P6z.ttf);
    font-weight: 400;
}



/* Basic Styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Area', sans-serif;
    font-weight: 400;
    color: var(--text-dark-color);
    z-index: 1;
}

body {
    background-color: var(--back-primary-color);
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, 
*:before, 
*:after {
    box-sizing: inherit;
  }

* li {
    list-style: none;
}

:root {
    --text-dark-color: #252623;
    --brand-primary-color: #DECC00;
    --back-primary-color: #EDEDE6;
    --br: 0.5em;
}

/* Navigation Styles */
nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 1rem 0;
    min-width: 300px;
}

nav li {
    margin: 0 .8rem;
    padding: 0.25rem;
    height: 2rem;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Area', sans-serif;
    font-weight: 200;
    letter-spacing: 2px;
    position: relative;
    padding: 0 5px;
    transition: text-shadow .3s;
}

nav a:after {
    content: "";
    position: absolute;
    background-color: var(--brand-primary-color);
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: .3s;
}

nav a:hover {
    text-shadow: 0 0 1px #333, 0 0 1px #333, 0 0 1px #333;
}

nav a:hover:after {
    width: 100%;
}

/* Intro Styles */
#intro {
    max-width: 1000px;
    margin: 0 auto;
}

.headline h1 {
    font-family: 'Abygaer', sans-serif;
    font-style: italic;
    font-size: 20vmin;
    text-transform: uppercase;
    justify-content: center;
    display: flex;
    -webkit-transform:translateY(0);
	-ms-transform:translateY(0);
	transform:translateY(0);
	-webkit-animation:jumping 12s ease-in-out infinite;
	animation:jumping 12s ease-in-out infinite;
}

@-webkit-keyframes jumping {
	0%,
	to {
		-webkit-transform:translateY(0);
		transform:translateY(0);
	}

	50% {
		-webkit-transform:translateY(-10px);
		transform:translateY(-30px);
	}
}

@keyframes jumping {
	0%,
	to {
		-webkit-transform:translateY(0);
		transform:translateY(0);
	}

	50% {
		-webkit-transform:translateY(-10px);
		transform:translateY(-30px);
	}
}

.banner {
    display: flex;
    background-color: var(--brand-primary-color);
    height: 0.5rem;
    width: 4rem;
    margin: 2rem 0 -2rem 2rem;
    
}

.headline span {
    color: var(--brand-primary-color);
    font-family: 'Abygaer', serif;
    font-style: normal;
}

.first-headline {
   margin: 5rem 0 0 0;
}

.second-headline {
    margin: -1rem 0 0 0;
}

p {
    margin: 2rem 2rem 0 2rem;
    line-height: 1.5;
    max-width: 40rem;
}

strong {
    font-weight: 700;
    text-decoration: none;
}

/* Color Styles */
#color {
    max-width: 1000px;
    margin: 7rem auto 0 auto;
}

.title {
    box-sizing: inherit;
    color: var(--text-dark-color);
    display: block;
    font-family: 'Abygaer', serif;
    font-size: 3rem;
    margin: 3rem 0 0 1.9rem;
}

.monochrome {
    box-sizing: inherit;
    color: var(--text-dark-color);
    display: block;
    font-family: 'Area', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 3rem 0 -.5rem 1.9rem;
}

/* Monochrome Color */
.game {
    position: relative;
    width: 12.5em;
}

.front-one {
    background-color: #3a606e;
    height: 9em;
    width: 8em;
    border-radius: var(--br);
    z-index: 3;
    margin-left: 2.25rem;
    transition: 250ms;
}

.back {
    opacity: 0;
    position: absolute;
    margin-left: 2rem;
    bottom: 1rem;
    background-color: none;
    transition: 250ms cubic-bezier(.21, 1, .81, 1), opacity 100ms linear;
}

.color-stat p {
    background-color:lightgray;
    text-align: center;
}

.background {
    background-color: lightgrey;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(.2, 1);
    opacity: 0;
    z-index: -1;
    transition: 250ms cubic-bezier(.21, 1, .81, 1), opacity 100ms linear;
    border-radius: var(--br);
}

.game:hover .front-one{
    transform: translateY(-35%) scale(.8);
}

.game:hover .back{
    opacity: 1;
    transform: scale(1.4);
    }

.game:hover .background{
    transform: scale(.8, 1.3);
    opacity: 1;
    }

.front-two {
    background-color: #607B7D;
    height: 9em;
    width: 8em;
    border-radius: var(--br);
    z-index: 3;
    margin-left: 2.25rem;
    transition: 250ms;
}

.game:hover .front-two{
    transform: translateY(-35%) scale(.8);
}

.front-three {
    background-color: #828E82;
    height: 9em;
    width: 8em;
    border-radius: var(--br);
    z-index: 3;
    margin-left: 2.25rem;
    transition: 250ms;
}

.game:hover .front-three{
    transform: translateY(-35%) scale(.8);
}

.front-four {
    background-color: #AAAE8E;
    height: 9em;
    width: 8em;
    border-radius: var(--br);
    z-index: 3;
    margin-left: 2.25rem;
    transition: 250ms;
}

.game:hover .front-four{
    transform: translateY(-35%) scale(.8);
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.list > * {
    margin: 4rem -2rem 0 0;
}

/* Complementary Color */
.front-five {
    background-color: #BA636D;
    height: 9em;
    width: 8em;
    border-radius: var(--br);
    z-index: 3;
    margin-left: 2.25rem;
    transition: 250ms;
}

.game:hover .front-five{
    transform: translateY(-35%) scale(.8);
}

.front-six {
    background-color: #82343D;
    height: 9em;
    width: 8em;
    border-radius: var(--br);
    z-index: 3;
    margin-left: 2.25rem;
    transition: 250ms;
}

.game:hover .front-six{
    transform: translateY(-35%) scale(.8);
}

.front-seven {
    background-color: #047D6F;
    height: 9em;
    width: 8em;
    border-radius: var(--br);
    z-index: 3;
    margin-left: 2.25rem;
    transition: 250ms;
}

.game:hover .front-seven{
    transform: translateY(-35%) scale(.8);
}

.front-eight {
    background-color: #49B3A6;
    height: 9em;
    width: 8em;
    border-radius: var(--br);
    z-index: 3;
    margin-left: 2.25rem;
    transition: 250ms;
}

.game:hover .front-eight{
    transform: translateY(-35%) scale(.8);
}

/* Analogous Color */
.front-nine {
    background-color: #6B8A08;
    height: 9em;
    width: 8em;
    border-radius: var(--br);
    z-index: 3;
    margin-left: 2.25rem;
    transition: 250ms;
}

.game:hover .front-nine{
    transform: translateY(-35%) scale(.8);
}

.front-ten {
    background-color: #D7A009;
    height: 9em;
    width: 8em;
    border-radius: var(--br);
    z-index: 3;
    margin-left: 2.25rem;
    transition: 250ms;
}

.game:hover .front-ten{
    transform: translateY(-35%) scale(.8);
}

.front-eleven {
    background-color: #CDA565;
    height: 9em;
    width: 8em;
    border-radius: var(--br);
    z-index: 3;
    margin-left: 2.25rem;
    transition: 250ms;
}

.game:hover .front-eleven{
    transform: translateY(-35%) scale(.8);
}

.front-twelve {
    background-color: #E8CB61;
    height: 9em;
    width: 8em;
    border-radius: var(--br);
    z-index: 3;
    margin-left: 2.25rem;
    transition: 250ms;
}

.game:hover .front-twelve{
    transform: translateY(-35%) scale(.8);
}

/* Triadic Color */
.front-thirteen {
    background-color: #276B43;
    height: 9em;
    width: 8em;
    border-radius: var(--br);
    z-index: 3;
    margin-left: 2.25rem;
    transition: 250ms;
}

.game:hover .front-thirteen{
    transform: translateY(-35%) scale(.8);
}

.front-fourteen {
    background-color: #5C2C9E;
    height: 9em;
    width: 8em;
    border-radius: var(--br);
    z-index: 3;
    margin-left: 2.25rem;
    transition: 250ms;
}

.game:hover .front-fourteen{
    transform: translateY(-35%) scale(.8);
}

.front-fivteen {
    background-color: #FC954C;
    height: 9em;
    width: 8em;
    border-radius: var(--br);
    z-index: 3;
    margin-left: 2.25rem;
    transition: 250ms;
}

.game:hover .front-fivteen{
    transform: translateY(-35%) scale(.8);
}

.front-sixteen {
    background-color: #8A7F78;
    height: 9em;
    width: 8em;
    border-radius: var(--br);
    z-index: 3;
    margin-left: 2.25rem;
    transition: 250ms;
}

.game:hover .front-sixteen{
    transform: translateY(-35%) scale(.8);
}

/* Typography Section */
#typography {
    max-width: 1000px;
    margin: 7rem auto 0 auto;
}

.banner-two {
    display: flex;
    background-color: var(--brand-primary-color);
    height: 0.5rem;
    width: 4rem;
    margin: 6rem 0 -2rem 2rem;
}

/* Modern */

.game-two {
    position: relative;
    width: 12.5em;
}

.front-typo {
    background-color: #636159;
    height: 12em;
    width: 20em;
    border-radius: var(--br);
    z-index: 3;
    margin-left: -3.73rem;
    transition: 250ms;
}

.back-typo {
    opacity: 0;
    position: absolute;
    margin-left: -2.3rem;
    bottom: 0rem;
    background-color: none;
    transition: 250ms cubic-bezier(.21, 1, .81, 1), opacity 100ms linear;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Area', sans-serif;
    font-weight: 400;
}

.third-typo {
    font-size: 10px;
    color: var(--text-dark-color);
    text-transform: uppercase;
    font-family: 'Area', sans-serif;
    font-weight: 200;
}

.typo-stat-first p {
    background-color:lightgray;
    text-align: left;
    margin-top: 10rem;
}

.typo-stat-second p {
    background-color:lightgray;
    text-align: left;
}

.background-typo {
    background-color: lightgrey;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(.2, 1);
    opacity: 0;
    z-index: -1;
    transition: 250ms cubic-bezier(.21, 1, .81, 1), opacity 100ms linear;
    border-radius: var(--br);
}

.game-two:hover .front-typo{
    transform: translateY(-35%) scale(.8);
}

.game-two:hover .back-typo{
    opacity: 1;
    transform: scale(1.4);
    }

.game-two:hover .background-typo{
    transform: scale(1.5, 1.3);
    opacity: 1;
    }

.list-typo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.list-typo > * {
    margin: 3rem 4rem 1rem 5.5rem;
}

/* Modern One */
.first-typo {
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: white;
    padding-top: 1.1em;
    padding-left: 0em;
}

.second-typo {
    font-family: 'Lora', serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.6;
    color: white;
    margin-top: 0.7em;
    padding-left: 0em;
}

/* Modern Two */
.first-typo-two {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 200;
    color: white;
    padding-top: 1.1em;
    padding-left: 0em;
}

.second-typo-two {
    font-family: 'Open Sans', serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.6;
    color: white;
    margin-top: 0.7em;
    padding-left: 0em;
}

/* Classical One */
.first-typo-three {
    font-family: 'Old Standard TT', serif;
    font-size: 25px;
    font-weight: 400;
    color: white;
    padding-top: 1.1em;
    padding-left: 0em;
}

.second-typo-three {
    font-family: 'Rubik', sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.6;
    color: white;
    margin-top: 0.7em;
    padding-left: 0em;
}

/* Classical Two */
.first-typo-four {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 25px;
    font-weight: 400;
    color: white;
    padding-top: 1.1em;
    padding-left: 0em;
}

.second-typo-four {
    font-family: 'Average Sans', sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.6;
    color: white;
    margin-top: 0.7em;
    padding-left: 0em;
}

/* Minimal One */
.first-typo-five {
    font-family: 'Chivo', sans-serif;
    font-size: 25px;
    font-weight: 200;
    color: white;
    padding-top: 1.1em;
    padding-left: 0em;
}

.second-typo-five {
    font-family: 'Monda', sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    margin-top: 0.7em;
    padding-left: 0em;
}

/* Minimal Two */
.first-typo-six {
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    font-weight: 200;
    color: white;
    padding-top: 1.1em;
    padding-left: 0em;
}

.second-typo-six {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.6;
    color: white;
    margin-top: 0.7em;
    padding-left: 0em;
}

/* Striking One */
.first-typo-seven {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: 400;
    color: white;
    padding-top: 1.1em;
    padding-left: 0em;
}

.second-typo-seven {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.6;
    color: white;
    margin-top: 0.7em;
    padding-left: 0em;
}

/* Striking Two */
.first-typo-eight {
    font-family: 'Permanent Marker', serif;
    font-size: 25px;
    font-weight: 400;
    color: white;
    padding-top: 1.1em;
    padding-left: 0em;
}

.second-typo-eight {
    font-family: 'Overpass', sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.6;
    color: white;
    margin-top: 0.7em;
    padding-left: 0em;
}

/* Image one */

#images {
    max-width: 1000px;
    margin: 7rem auto 0 auto;
}

.game-three {
    position: relative;
    width: 12.5em;
}

img {
    max-width: 100%;
    border-radius: var(--br);
}

.front-image {
    height: 12em;
    width: 20em;
    border-radius: var(--br);
    z-index: 3;
    margin-left: -3.73rem;
    transition: 250ms;
}

.back-image {
    opacity: 0;
    position: absolute;
    margin-left: 1.5rem;
    bottom: 3rem;
    background-color: none;
    transition: 250ms cubic-bezier(.21, 1, .81, 1), opacity 100ms linear;
    font-size: 12px;
    text-transform: uppercase;
}

.third-image {
    font-size: 60px;
    color: white;
    text-transform: uppercase;
    font-family: 'Abygaer', sans-serif;
    font-weight: 400;
}

.game-three:hover .front-image{
    transform: translateY(-15%) scale(1);
}

.game-three:hover .back-image{
    opacity: 1;
    transform: scale(1.4);
}

/* Image Two */
.back-image-two {
    opacity: 0;
    position: absolute;
    margin-left: 1.3rem;
    bottom: 4.2rem;
    background-color: none;
    transition: 250ms cubic-bezier(.21, 1, .81, 1), opacity 100ms linear;
    font-size: 12px;
    text-transform: uppercase;
}

.third-image-two {
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    font-family: 'Gyahegi', sans-serif;
    font-weight: 400;
}
.game-three:hover .back-image-two{
    opacity: 1;
    transform: scale(1.4);
}

.list-image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.list-image > * {
    margin: 4rem 4rem 1rem 5.5rem;
}

/* Footer */
footer {
    font-style: italic;
    font-size: 12px;
    text-align: left;
    padding-top: 10em;
    padding-bottom: 5em;
    font-family: 'Area', sans-serif;
    text-decoration: none;
    max-width: 1000px;
    margin: 0 auto 0 auto;
}

footer a {
    color: black;
}




